article {
  h3 {
    margin-top: 4rem;
    margin-bottom: 0;
  }
  hr {
    margin-top: 4rem;
    margin-bottom: 1rem;
  }
  pre {
    padding: 1rem 0.5rem;
    background-color: #ccc;
    overflow: auto;
    font-size: smaller;
    code {
      color: #333;
    }
  }
  code {
    color: #007eb6;
  }
}
